@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Jacquarda+Bastarda+9+Charted&family=Playball&family=Playwrite+IS:wght@100..400&display=swap');



.header{
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    background-color: rgb(0, 0, 0);
    
    a{
        color: beige;
    }

    h1{
        font-family: "Playwrite IS", cursive;
        color: beige;
        font-weight: 900;
    }

    h2{
        font-family: "Playwrite IS", cursive;
        color: beige;
        font-weight: 900;
    }

}

.footer{
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    color: beige;
    font-weight: 400;

    a{
        color: beige;
        margin: 50px;
        text-decoration: none;
    }
}

img{
   border-radius: 50%;
   width: 200px;
   height: 200px;
}

body{
    background-color: rgb(133, 55, 0);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.info{
    display: flex;
    justify-content: center;
    column-gap: 5px;

    .box1{
        font-family: "Playwrite IS", cursive;
    }
    
    .box2{
        font-family: "Playwrite IS", cursive;
    }
    
}


.rest{
    font-family: "Playwrite IS", cursive;
    text-align: center;
}

#right{
    display: flex;
    justify-content: end;
}

.slogan{
    text-align: center;
}

.socials{
    display: flex;
    justify-content: center;
    
    a{
        margin: 10px;
        color: black;
    }
}

.slogan{
    font-family: "Bilbo Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;

}
